body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
  background: #ccc;
}

.ReactTimber__toggler {
  display: inline-block;
  float:left;
}

.ReactTimber__toggler--collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ReactTimber__folder-children {
  margin-left: 16px;
}

.ReactTimber__folder-children--hidden {
  display: none;
}

.App__TreeArea {
  float: left;
  border: black 1px solid;
  width: 300px;
}

.App__DisplayArea {
  float: left;
  border: black 1px solid;
  height: 400px;
  width: 800px;
}

.App__DisplayArea-button:focus {
  background-color: lightblue;
}